.html2canvas-container {
    width: 3000px !important;
    height: 3000px !important;
  }
  #app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  #powerRanking {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 3px;
    font: normal 10px verdana;
  }
  #powerRanking table {
    border: 0px solid black;
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
  }
  #powerRanking table tr {
    background-color: #f8f8f2;
  }
  #powerRanking table tr:nth-child(odd) {
    background-color: #f2f2e8;
  }
  #powerRanking table tr:nth-child(2) {
    background-color: #6dbb75;
  }
  #powerRanking table tr:first-child {
    background-color: #1d7225;
    color: white;
    text-align: center;
  }
  th {
    border-radius: 3px 3px 0px 0px;
  }
  #powerRanking table th h3 {
    margin: 0px;
  }
  tr.rank {
    height: 60px;
    vertical-align: middle;
  }
  tr.rank td:first-child {
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    width: 10%;
  }
  .ranking {
    border-radius: 50px;
    color: white;
    padding: 0px;
    margin: auto;
  }
  tr.rank td:nth-child(2) {
    /* width: 100px; */
    vertical-align: middle;
    text-align: center;
    display: inline-block;
  }
  tr.rank td:nth-child(3) {
    width: 10%;
    vertical-align: middle;
  }
  tr.rank td:nth-child(4) {
    width: 20%;
    vertical-align: middle;
  }
  tr.rank td:nth-child(5) {
    width: 40%;
    vertical-align: middle;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .teamPicture {
    height: 100%;
    display: table-cell;
    padding: 5px 10px;
  }
  
  img {
    max-width: 300px;
  }
  .teamPicture img {
    position: relative;
    max-width: 150px;
    /* max-height: 100px;*/
    vertical-align: middle;
    object-fit: cover;
    border-radius: 10px;
    min-width: 100px;
  }
  .manager-name {
    font-size: 13px;
    white-space: nowrap;
    top: -5px;
    position: relative;
  }
  .manager-name a {
    text-decoration: none !important;
    color: #225db7 !important;
  }
  .team-record {
    color: #888;
  }
  .up {
    border-bottom: 8px solid green;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    width: 0px;
    position: relative;
    left: 10px;
    top: 6px;
  }
  .down {
    border-top: 8px solid red;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    width: 0px;
    position: relative;
    top: 7px;
    left: 10px;
  }
  .no-change {
    border-top: 8px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  .delta-div {
    position: relative;
    right: -5px;
  }
  .delta {
    width: 25px;
    position: relative;
    font-size: 17px;
    line-height: 20px;
    top: -9px;
    left: 26px;
  }
  .delta-up {
    color: green;
  }
  .delta-down {
    color: red;
  }
  .last-weeks-position {
    color: #888;
    font-size: 10px;
    top: -5px;
    position: relative;
  }
  .center {
    text-align: center;
  }
  .manager-name-under-team {
    font-size: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
  }
  .team-name {
    white-space: nowrap;
    font-weight: bold;
    font-size: 11px;
  }
  tr.rank:nth-child(3) .ranking {
    background: #1d7225;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  
  tr.rank:nth-child(4) .ranking {
    background: #1d7225;
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
  tr.rank:nth-child(5) .ranking {
    background: #1d7225;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  
  tr.rank:nth-child(6) .ranking {
    background: #1d7225;
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
  
  tr.rank:nth-child(7) .ranking {
    background: #1d7225;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  
  tr.rank:nth-child(8) .ranking {
    background: #1d7225;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  
  tr.rank:nth-child(9) .ranking {
    background: firebrick;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  
  tr.rank:nth-child(10) .ranking {
    background: firebrick;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  
  tr.rank:nth-child(11) .ranking {
    background: firebrick;
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
  
  tr.rank:nth-child(12) .ranking {
    background: firebrick;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  
  tr.rank:nth-child(13) .ranking {
    background: firebrick;
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
  tr.rank:nth-child(14) .ranking {
    background: firebrick;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  /* 
  Everything about this needs to be transferred to style the markdown files from 11ty
  */ 

  :root {
    --font-family: "Avenir", Helvetica, Arial, sans-serif;
    --font-size: 10px;
    --text-color: #2c3e50;
    --background-color: #f8f8f2;
    --header-background-color: #1d7225;
    --header-text-color: white;
    --odd-row-background-color: #f2f2e8;
    --even-row-background-color: #f8f8f2;
    --up-arrow-color: green;
    --down-arrow-color: red;
  }


html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}
body {
	max-width: 40em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img{
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}
video,
iframe {
	width: 100%;
	height: auto;
}
iframe {
	aspect-ratio: 16/9;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main,
footer {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
}

#skip-link {
	text-decoration: none;
	background: var(--background-color);
	color: var(--text-color);
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-gray-90);
	border-radius: 2px;
}

/* Prevent visually-hidden skip link fom pushing content around when focused */
#skip-link.visually-hidden:focus {
	position: absolute;
	top: 1rem;
	left: 1rem;
	/* Ensure it is positioned on top of everything else when it is shown */
	z-index: 999;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}
